node_modules/
elm-stuff/
target/
out/
.vscode/
.morphir/
.idea/
dist/

*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

morphir-ir.json
morphir-hashes.json
